html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header img {
  width: 20%;
}

.pokemons {
  overflow: hidden;
}

.entry {
  float: left;
  width: 23%;
  margin: 1%;
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}
